.verify-email-container {
    .infor-booking {
        font-size: 17px;
        font-weight: 600;
        padding-top: 100px;
        text-align: center;
        text-transform: uppercase;
        color: red;
    }
}