.manage-doctor-container {
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-family: 'Poppins', sans-serif;

    .manage-doctor-title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }
    .create-content-doctor {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 3px;
        outline: none;
        border: none;
        padding: 5px;
        background: rgb(11, 93, 216);
        cursor: pointer;
        color: white;
    
        &:hover {
            opacity: 0.9;
        }
    }
    .more-infor {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        
        .content-left {
            flex: 1;
            width: 35%;
        }
        .content-right{
            width: 65%;
        }

        label {
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
            color: #555;
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: all 0.3s ease;
            font-size: 14px;

            &:focus {
                border-color: #007bff;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
                outline: none;
            }
        }
    }

    .manage-doctor-editor {
        margin-top: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
    }

    .save-content-doctor {
        display: block;
        width: 200px;
        margin: 20px auto 0;
        background: #007bff;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;

        &:hover {
            background: #0056b3;
        }
    }
}